fastapi==0.118.0
uvicorn[standard]==0.37.0
prometheus-client==0.20.0
pydantic==2.11.9
pydantic_core==2.33.2
prometheus-fastapi-instrumentator==5.11.1
sqlalchemy
psycopg2-binary
pytest
pytest_asyncio
httpx
faker==24.8.0